<div>Results: <%= response.numFound %></div>
<div class='results'>
    <% _.each(response.docs, function(doc) { %>
        <div class='source'>
            <div class='category'><%= doc.Category %></div>
            <div class='subject'><%= doc.Subject %></div>
            <div class='title'><%= doc.Title %></div>
            <div class='description'><%= doc.Description %></div>
            <div class='download'><%= doc.Download %></div>
            <div class='path'><%= doc.view %></div>
        </div>
    <% }); %>
</div>