<div class='results'>
    <% var numdocs = response.docs.length;
      for(var i=0;i<numdocs;i++) { 
        var doc = response.docs[i]; %>
        <div class='volume'><%= doc.volume %></div>
        <div class="vistypes">
            <ul>
                <li><div class="tableicon" onclick="Frontend.table(<%= i %>);"></div></li>
                <% if (doc.dateDivisionsTight !== undefined) { %>
                  <li><div class="timelineicon" onclick="Frontend.table(<%= i %>);"></div></li>
                <% } %>
                <% if (doc.spatialDivisionsTight !== undefined) { %>
                  <li><div class="mapicon" onclick="Frontend.table(<%= i %>);"></div></li>
                <% } %>
            </ul>
        </div>
        <div class='module result clickable' id='result_<%= i %>'>
            <!-- <a href="#" onclick='Frontend.openDoc(GovLove.docs[<%= i %>]);'><%= GovLove.getQueryForDoc(doc) %></a> -->
            <div class="result_l">
                <div class='title'><%= doc.Title_t %></div>
                <div class='dataset'><%= doc.dataset %></div>
                <!-- <div class='agency'><%= doc.agency %></div> -->
                <% if (doc.keywords !== undefined) { %>
                    <div class='keywords'><strong>keywords:</strong> <%= doc.keywords %></div>
                <% } %>
                <div class='description'><%= doc.description %></div>
                <% if (doc.query !== undefined) { 
                    var query = JSON.parse(doc.query[0]);
                    _.each(query, function(v,k) { %>
                      <!-- if (k==='Location') then GovLove.locationToText(v); -->
                        <div class='querykey'><%= k %></div>
                        <div class='queryvalue'><%= v %></div>
                <%  });
                } %>
                <!-- <div class='begin_date'>begindate:<%= GovLove.formatDate(doc.begin_date) %></div>
                <div class='end_date'>enddate:<%= GovLove.formatDate(doc.begin_date) %></div> -->
                <!-- <div class='dateDivisions'><%= doc.dateDivisions %></div>
                <div class='spatialDivisions'><%= doc.spatialDivisions %></div>
                <div class='contactInfo'><%= doc.ContactInfo_t %></div> -->
            </div>
            <div class="result_r">
                <!-- <div class='agency'><%= doc.agency %></div>
                <div class='subagency'><%= doc.subagency %></div> -->
                <div class="sourceTree">
                <% if (doc.SourceSpec !== undefined) { 
                    var ss = JSON.parse(doc.SourceSpec[0]);
                    var offset = 0, size = 110;
                    _.each(ss, function(v,k) { %>
                        <div class='sourceSpec' style='padding-left: <%= offset %>px; font-size: <%= size %>%;'><%= v %></div>
                <%      offset += 10;
                        size -= 10;
                    });
                } %>
                </div>
            </div>
        </div>
    <% } %>
</div>