<div id="numFound">Results: <%= response.numFound %></div>
<div class='results'>
    <% _.each(response.docs, function(doc) { %>
        <div class='result'>
            <div class='dataset'>dataset:<strong><%= doc.dataset %></strong></div>
            <div class='title'>title:<%= doc.Title_t %></div>
            <div class='description'>description:<%= doc.description %></div>
            <div class='query'>query:<%= doc.query %></div>
            <div class='keywords'>keywords:<%= doc.keywords %></div>
            <div class='dimension'>dimensions:<%= doc.dimension %></div>
            <div class='agency'>agency:<%= doc.agency %></div>
            <div class='begin_date'>begindate:<%= doc.begin_date %></div>
            <div class='end_date'>enddate:<%= doc.end_date %></div>
            <div class='dateDivisions'>datedivisions:<%= doc.dateDivisions %></div>
            <div class='spatialDivisions'>spatialdivisions:<%= doc.spatialDivisions %></div>
        </div>
    <% }); %>
</div>